.flex-container {
  background-color: orange;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
}

.flex-item {
  background-color: rgb(0, 233, 245);
  width: 100px;
  height: 100px;
  margin: 20px;
  text-align: center;
}
